{% extends "base.html" %}
{% block title %}DJs - BaseAlert{% endblock %}
{% block content %}
<h1>DJs verwalten</h1>
<div id="dj-filters">
    <input
        class="search-box"
        type="search"
        name="q"
        placeholder="DJ suchen..."
        value="{{ q }}"
        hx-get="/djs/list"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#dj-list"
        hx-swap="innerHTML"
        hx-include="#dj-filters"
    />
    <label class="favorites-only-toggle">
        <input
            type="checkbox"
            name="favorites_only"
            value="true"
            {{ 'checked' if favorites_only else '' }}
            hx-get="/djs/list"
            hx-trigger="change"
            hx-target="#dj-list"
            hx-swap="innerHTML"
            hx-include="#dj-filters"
        />
        Nur Favoriten
    </label>
</div>
<div id="dj-list">
    {% include "_dj_list.html" %}
</div>
{% endblock %}
